body {
  display: flex;
  align-items: center;
}

.hidden-date {
  display: flex;
  flex-direction: column;
  display: none;
}

#categoryList {
  display: block;
  width: 60%;
  margin: 0 auto;
}

#categoryList li {
  list-style: none;
  text-align: center;
}

#categoryList li label {
  user-select: none;
  cursor: pointer;
  display: block;
  padding: 5px 20px 5px 50px;
  background-color: #3d6cb2;
  color: #fff;
  margin: 2px;
}

#categoryList li input {
  display: none;
}

#categoryList li input:not(:checked) ~ ul {
  display: none;
}
#categoryList li ul li {
  padding: 7px 10px;
  display: block;
}
